# -*- mode: conf -*-
# {{ ansible_managed }}

# see https://www.postgresql.org/docs/10/static/auth-pg-hba-conf.html

# Database administrative login by Unix domain socket
local   all             postgres                                peer

# HOST  DATABASE  USER           ADDRESS    AUTH-METHOD
{% for ip in pg_permitted_client_ips %}
host    all       {{ pg_database_user }}     {{ ip }}/32    md5
{% endfor %}
# add entry for monit -- allow root user to connect to empty root db only
host   root  root  127.0.0.1/32  trust
