# -*- mode: conf -*-
# {{ ansible_managed }}

check process postgresql with pidfile /var/run/postgresql/{{ pg_version }}-main.pid
  start program = "/bin/systemctl start postgresql.service"
  stop program = "/bin/systemctl stop postgresql.service"

  if failed host localhost port 5432 protocol pgsql for 5 cycles then restart
